/* resources/css/register.css */

/* 全体コンテナ */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fdfdfd;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* ページタイトル */
.page-title {
    font-size: 28px;
    margin-bottom: 40px;
    color: #333;
}

/* フォームグループ */
.form-group {
    margin-bottom: 25px;
}

.form-label {
    display: flex;
    align-items: center;
    /* 上下をそろえる */
    gap: 8px;
    /* ラベルと必須の間に少し余白 */
    margin-bottom: 5px;
    /* 下のinputと少し離す */
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form__label--required {
    color: white;
    background-color: rgb(250, 45, 45);
    margin-left: 5px;
    font-weight: normal;
    font-size: 12px;
    padding: 1px 4px;
}

.form__label--selection{
    color: rgb(250, 45, 45);
    font-size: 14px;
}

/* 入力フィールド */
input[type="text"],
input[type="number"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

/* 季節の表示 */
.season-name {
    font-weight: normal;
    color: #555;
}
/* チェックボックス */
.checkbox-group label {
    display: inline-block;
    margin-right: 15px;
    font-weight: normal;
    color: #333;
}

textarea {
    resize: vertical;
}

/* エラーメッセージ */
.text-danger {
    color: red;
    font-size: 12px;
    margin-top: 0px;
}

/* 成功メッセージ */
.alert-success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* ボタン */
.form-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.btn {
    padding: 5px 50px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    color: #333;
    font-size: 13px;
}

.btn-back {
    background-color: #c9c7c7;
}

.btn-back:hover {
    background-color: #9c9d9e;
}

.btn-submit {
    background-color:#f8b013;
}

.btn-submit:hover {
    background-color: #f8bd1c;
}